<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Author Management System</title>
    </head>

    <body>
        <nav th:replace="fragments/nav.html :: nav"></nav>
        <h1>Here is a list of all Authors</h1>

        <ul>
            <li th:each="author : ${authors}">
                ID: <span th:text="${author.id}">1</span>, <br />
                Name: <span th:text="${author.name}">Faiz </span><br />
                Books:
                <ul>
                    <li th:each="book : ${author.books}" th:text="${book}">Oracle</li>
                </ul>
            </li>
        </ul>
    </body>
</html>
